<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loadData()">
        <ion-icon name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-user-actions></app-user-actions>
  <ng-container *ngIf="!isAdmin else admin">
    <app-quick-actions [reloadTrigger]="reload"></app-quick-actions>
    <app-history [reloadTrigger]="reload"></app-history>
  </ng-container>
  <ng-template #admin>
    <app-users-list></app-users-list>
    <app-parkings-list></app-parkings-list>
  </ng-template>
  <!--  Modals-->
</ion-content>
