<ion-header>
  <ion-toolbar>
    <ion-title>{{parking?.direction }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formBook" (ngSubmit)="send()">
    <ion-item>
      <ion-label>Inicio</ion-label>
      <ion-input type="number" formControlName="startPeriod"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fin</ion-label>
      <ion-input type="number" formControlName="endPeriod"> </ion-input>
    </ion-item>
    <ion-button
      type="submit"
      expand="full"
      color="primary"
      class="ion-margin-top"
      >Reservar</ion-button
    >
  </form>
</ion-content>
