<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="large">Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <form
          #loginForm="ngForm"
          (ngSubmit)="loginForm.form.valid && sendForm(loginForm)"
        >
          <ion-item lines="full" class="ion-margin-vertical">
            <ion-label position="floating">Correo electrónico </ion-label>
            <ion-input type="email" name="username" required="true" ngModel>
            </ion-input>
            <!--            <ion-note slot="error">Error Text</ion-note>-->
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" name="password" required="true" ngModel>
            </ion-input>
            <!--            <ion-note slot="error">Error Text</ion-note>-->
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button type="submit" class="ion-margin-top" size="block"
                >Entrar</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
