<ion-header>
  <ion-toolbar>
    <ion-title>bookParking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Dirección: {{ (parkingData)?.direction }}</ion-label>
  </ion-item>

  <form [formGroup]="formBook" (ngSubmit)="sendForm($event)">
    <ion-item>
      <ion-label>inicio</ion-label>
      <ion-input
        [type]="type"
        placeholder="fecha"
        formControlName="periodStart"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>fin</ion-label>
      <ion-input
        [type]="type"
        placeholder="fecha"
        formControlName="periodEnd"
      ></ion-input>
    </ion-item>
    <ion-button color="primary" type="submit">Reservar</ion-button>
  </form>
</ion-content>
