<ion-header>
  <ion-toolbar>
    <ion-title>bookParking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Dirección: {{ parkingData.direction }}</ion-label>
  </ion-item>

  <form [formGroup]="formBook" (ngSubmit)="sendForm()">
    <ion-item>
      <ion-label>inicio</ion-label>
      <ion-input
        ngDefaultControl
        [type]="typeParking()"
        placeholder="fecha"
        formControlName="periodsStrart"
        name="periodsStrart"
      ></ion-input>
      <ion-label>fin</ion-label>
      <ion-input
        ngDefaultControl
        [type]="typeParking()"
        placeholder="fecha"
        formControlName="periodsEnd"
        name="periodsEnd"
      ></ion-input>
    </ion-item>
    <ion-button color="primary" type="submit">Reservar</ion-button>
  </form>
</ion-content>
