<ion-card>
  <ion-card-header>
    <ion-card-title>Acciones Rápidas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div id="scroll">
      <ion-button class="ion-padding-end" shape="round" (click)="showModal()"
        >Agregar Parking</ion-button
      >
      <ion-button class="ion-padding-end" shape="round"
        >Editar Parking</ion-button
      >
      <ion-button class="ion-padding-end" shape="round"
        >Deshabilitar Parking</ion-button
      >
      <ion-button class="" shape="round">Activar Parking</ion-button>
    </div>
  </ion-card-content>
  <app-parking-list-modal #modalList></app-parking-list-modal>
</ion-card>
