<ion-card>
  <ion-card-header>
    <ion-card-title>Acciones Rápidas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div id="scroll">
      <ion-button
        class="ion-padding-end"
        shape="round"
        [routerLink]="['new-parking']"
        >Agregar Parking</ion-button
      >
      <ion-button class="ion-padding-end" shape="round" (click)="showModal()"
        >Editar Parking</ion-button
      >
      <ion-button class="ion-padding-end" shape="round" (click)="showModal()"
        >Deshabilitar Parking</ion-button
      >
      <ion-button class="" shape="round" (click)="showModal()"
        >Activar Parking</ion-button
      >
    </div>
  </ion-card-content>
  <app-parking-list-modal [user]="idUser" #modalList></app-parking-list-modal>
  <app-page-modal [user]="idUser" #pageModal></app-page-modal>
</ion-card>
