<form [formGroup]="parkingData" (ngSubmit)="sendForm()">
  <ion-list class="ion-padding-horizontal">
    <ion-list-header> {{ type }} Parking </ion-list-header>
    <ion-item>
      <ion-label>Dirección</ion-label>
      <ion-input
        type="text"
        placeholder="Dirección"
        formControlName="direction"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Larga Duración</ion-label>
      <ion-toggle
        formControlName="longPeriod"
        (ionChange)="clearInputs()"
      ></ion-toggle>
    </ion-item>
    <ion-button (click)="addPriceInput()" color="primary">Add</ion-button>

    <!--      inputs de estancia larga-->
    <div *ngIf="getTypeParking(); else cortaEstancia">
      <ion-item>
        <ion-label>Precio Por Dia</ion-label>
        <ion-input type="number" formControlName="pricePerDay"> </ion-input>
      </ion-item>
      <ion-item-group
        formArrayName="daysAvailable"
        *ngFor="let inputData of getDaysRangesInputs().controls; let i = index"
      >
        <div [formGroup]="inputData">
          <ion-item>
            <ion-label>Parking disponible</ion-label>
            <ion-button color="danger" (click)="deleteInput(i)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label>inicio</ion-label>
            <ion-input
              type="date"
              placeholder="fecha"
              formControlName="start"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>fin</ion-label>
            <ion-input
              type="date"
              placeholder="fecha"
              formControlName="end"
            ></ion-input>
          </ion-item>
        </div>
      </ion-item-group>
    </div>
    <ng-template #cortaEstancia>
      <ion-item>
        <ion-label>Precio Por hr</ion-label>
        <ion-input type="number" formControlName="pricePerHour"> </ion-input>
      </ion-item>
      <ng-container formArrayName="timesAvailable">
        <ion-item-group
          *ngFor="let ranges of getHoursRangesInputs().controls; let i = index"
        >
          <div [formGroup]="ranges">
            <ion-item>
              <ion-label>Parking disponible</ion-label>
              <ion-button color="danger" (click)="deleteInput(i)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label>inicio</ion-label>
              <ion-input
                type="time"
                placeholder="fecha"
                formControlName="start"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>fin</ion-label>
              <ion-input
                type="time"
                placeholder="fecha"
                formControlName="end"
              ></ion-input>
            </ion-item>
          </div>
        </ion-item-group>
      </ng-container>
    </ng-template>
    <ion-button color="primary" type="submit">{{ type }}</ion-button>
    <ion-button *ngIf="type === 'editar'" color="danger">Borrar</ion-button>
  </ion-list>
</form>
