<ion-header>
  <ion-toolbar>
    <ion-title>Tus Parkings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container>
    <ion-list *ngIf="parkingList; else load">
      <ion-item
        *ngFor="let parking of parkingList; let position = index"
        button="true"
        (click)="clickParking(position)"
      >
        <ion-icon name="location-outline" class="ion-margin-end"></ion-icon>
        <ion-label>{{parking.direction}}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #load class="scroll">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </ng-template>
</ion-content>
