<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-parking-data title="prueba"></app-parking-data>
  <!-- Sheet Modal -->
  <ion-modal
    [isOpen]="true"
    [breakpoints]="[0.1, 0.5, 1]"
    [initialBreakpoint]="0.1"
  >
    <ng-template>
      <ion-list>
        <!-- Searchbar with cancel button shown on focus -->
        <ion-searchbar showCancelButton="focus"></ion-searchbar>
        <ion-item
          *ngFor="let parking of parkings"
          [routerLink]="['/details', parking.id]"
        >
          <ion-icon name="location-outline" class="ion-margin-end"></ion-icon>
          <ion-label>{{parking.direction}}</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-modal>
</ion-content>
